.wrapper-text {
  font: var(--font-m);

  .wrapper-text__title {
    font: var(--font-l);
  }

  .wrapper-text__text {
    font: var(--font-m);
  }
}

.primary {
  .wrapper-text__title {
    color: white;
  }

  .wrapper-text__text {
    color: white;
  }
}

.error {
  .wrapper-text__title {
    color: #ff3030;
  }

  .wrapper-text__text {
    color: #ad0000;
  }
}