.main-page__title {
  text-align: center;
}

.main-page__content {
  display: flex;
  margin-top: 10px;

  .content__list {
    margin-left: 5px;
  }

  .content__editor {
    position: fixed;
    right: 0;
  }
}